**/target
**/.idea
user-service/target/classes/com/programming/user_service/config/SecurityConfig.class
user-service/target/classes/com/programming/user_service/config/JwtConfig.class
user-service/target/classes/com/programming/user_service/config/DataInitializer.class
user-service/target/classes/com/programming/user_service/config/CustomUserDetails.class
management-service/target/classes/com/programming/management_service/controller/ClassroomController.class
management-service/target/classes/com/programming/management_service/config/SecurityConfig.class
management-service/target/classes/com/programming/management_service/config/JwtConfig.class

user-service/target/classes/com/programming/user_service/service/auth/AuthService.class
user-service/target/classes/com/programming/user_service/controller/AuthController.class
management-service/target/classes/com/programming/management_service/controller/AuthController.class
management-service/target/classes/com/programming/management_service/service/auth/AuthService.class
.idea/compiler.xml
